{% extends 'doctor_navigation.html' %}
{% load static %}

{% block title %}Completed Appointments - NovaCure Hospital{% endblock %}


{% block body %}
<div class="page-header-box">
  <h2 class="page-header-text">
    Completed Appointments
  </h2>
</div>
<div class="container"> 
    <div class="table-responsive">
    <table class="table table-bordered table-hover" id="example">
      <thead class="thead-light">
        <tr>
          <th>Sr No.</th>
          <th>Patient Name</th>
          <th>Contact</th>
          <th>Gender</th>
          <th>Date</th>
          <th>Time</th>
          <th>Description</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for appt in appointments %}
        <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ appt.patient.user.first_name }} {{ appt.patient.user.last_name }}</td>
        <td>{{ appt.patient.contact }}</td>
        <td>{{ appt.patient.gender }}</td>
        <td>{{ appt.date }}</td>
        <td>{{ appt.time }}</td>
        <td>{{ appt.description }}</td>
        <td><span class="badge badge-primary">{{ appt.status }}</span></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}