{% extends 'navigation.html' %}
{% load static %}

{% block title %}Contact - NovaCure Hospital{% endblock %}


{% block body %}
<div class="page-header-box">
  <h2 class="page-header-text">
    Contact NovaCure Hospital
  </h2>
</div>
<div class="container mt-5 mb-5">
  <div class="row text-center">
    <div class="col-12 col-md-3 mb-4 mydiv">
        <h4><i class="fas fa-phone-square mr-2"></i>Contact</h4>
        <p><a href="tel:+91 9711644631" class="text-info text-decoration-none mt-3">+91 9711644631</a></p>
    </div>
    <div class="col-12 col-md-3 mb-4 mydiv">
        <h4><i class="fas fa-envelope mr-2"></i>Email Address</h4>
        <p><a href="mailto:gargvv156@gmail.com" class="text-info text-decoration-none mt-3">gargvv156@gmail.com</a></p>
    </div>
        <div class="col-12 col-md-3 mb-4 mydiv">
        <h4><i class="fas fa-address-card mr-2"></i>Office Address</h4>
        <p><a href="http://maps.google.com/maps?q=Max+Healthcare+Saket" class="text-info text-decoration-none mt-3">Max Healthcare, Saket</a></p>
        <p><a href="http://maps.google.com/maps?q=Fortis+Hospital+Gurgaon" class="text-info text-decoration-none mt-3">Fortis Hospital, Gurgaon</a></p>
        <p><a href="http://maps.google.com/maps?q=Sunrise+Residency+Dwarka" class="text-info text-decoration-none mt-3">Sunrise Residency, Dwarka</a></p>
    </div>
        <div class="col-12 col-md-3 mb-4 mydiv">
        <h4><i class="fas fa-clock mr-2"></i>Service Hours</h4>
        <p class="text-info mt-3">24 X 7 Support</p>
        
    </div>
</div>
</div>
{% endblock %}